<h1>My Applications</h1>

<% @applications.each do |application| %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Application ID</th>
        <th>Producer</th>
        <th>Application Status</th>
      </tr>
    </thead>
    <tbody>
      <% @applications.each do |app| %>
        <tr class="title-<%= app.design.title %>">
          <th scope="row">
            <%= link_to app.id, producer_design_application_path(current_user, app.design, app) %>
          </th>
          <td><%= app.user.username %></td>
          <td><%= app.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>