<div class="dashboard">

  <h1>Producer Dashboard</h1>

  <ul class="nav nav-tabs">
    <%= content_tag :li, class: "whatever #{params[:page] == 'applications' ? 'active' : ''}", role: 'presentation' do %>
      <a href="?page=applications">Applications</a>
    <% end %>
    <%= content_tag :li, class: "whatever #{params[:page] == 'orders' ? 'active' : ''}", role: 'presentation' do %>
      <a href="?page=orders">Orders</a>
    <% end %>
    <%= content_tag :li, class: "whatever #{params[:page] == 'designs' ? 'active' : ''}", role: 'presentation' do %>
      <a href="?page=designs">Designs</a>
    <% end %>
  </ul>

  <%= render @partial %>

</div>