<div class="dashboard">

  <div class="headline">
    <h1>Designer Dashboard</h1>
    <%= link_to "Post a Design", new_designer_design_path(current_user), class: "btn btn-success new-design-btn" %>
  </div>

  <ul class="nav nav-tabs">
    <%= content_tag :li, class: "whatever #{params[:page] == 'designs' ? 'active' : ''}", role: 'presentation' do %>
      <a href="?page=designs">Designs</a>
    <% end %>
    <%= content_tag :li, class: "whatever #{params[:page] == 'orders' ? 'active' : ''}", role: 'presentation' do %>
      <a href="?page=orders">Orders</a>
    <% end %>
  </ul>

  <%= render @partial %>

</div>